
@{
    ViewBag.Title = "Search";
}

<h2><em>Recherche pour le Producteur </em></h2>

<!-- Création du formulaire-->
<br />
<div>
    <h4>
        Canton :
        <select name="canton">
            <option value=""></option>
            <option value="valais">Valais</option>
            <option value="vaud">Vaud</option>
            <option value="geneve">Genève</option>
            <option value="fribourg">Fribourg</option>
        </select>
    </h4>
</div>

<br />



<div>
    <h4>
        Compétences :
        <select name="competences">
            <option value=""></option>
            <option value="gestion">Gestion-Coordination au développement</option>
            <option value="accompagnement">Accompagnement de projet</option>
            <option value="guichet">Mise en oeuvre et gestion guichet</option>
        </select>
    </h4>
</div>

<br />

<div>
    <h4>Activité :
        <select name="activite">
            <option value=""></option>
            <option value="brasseur">Brasseur</option>
            <option value="maraicher">Maraîcher</option>
            <option value="agriculteur">Agriculteur</option>
        </select>
    </h4>
</div>




